<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mgr</display-name>
 <!--  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list> -->
  <listener>
  	<listener-class>mgr.wfengine.listener.GetPropertiesListener</listener-class>
  </listener>
  
  <context-param>
  		<param-name>WFENGINE_URL</param-name>
  		<!-- <param-value>http://10.120.147.26:8080</param-value> -->
  		<param-value>http://127.0.0.1:8080</param-value>
  </context-param>
  <context-param>
  		<param-name>FORWARD_INTERFACE_URL</param-name>
  		<param-value>http://10.120.145.21:8080/PortalLet/flowForward.action?userActionType=flowForwardService</param-value>
  </context-param>
  <context-param>
  		<param-name>USER_WSURL</param-name>
  		<param-value>http://10.120.147.26/userpInterface/services/userpService</param-value>
  </context-param>
  
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter   
      </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>